/* Import compass mixins for vendor prefixes */
/* Define the primary color */
/* Define mixin for animation easing */
/* Define mixin for tablet screens */
/* Set box-sizing globally */
* {
  box-sizing: border-box;
}

/* Setup base elements */
body {
  min-height: 10vh;
  background: #FDFDFD;
  font-family: "effra";
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-size: 1em;
}

/* Position header elements */
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  -moz-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  /* Transform burger into 'x' */
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #333;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -moz-transform: rotate(45deg) translate(4px, 4px);
  -ms-transform: rotate(45deg) translate(4px, 4px);
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -moz-transform: rotate(-45deg) translate(5px, -4px);
  -ms-transform: rotate(-45deg) translate(5px, -4px);
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
  transform: rotate(-45deg) translate(5px, -4px);
  transform: rotate(-45deg) translate(5px, -4px);
}

/* Seup menu layout and animations */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  /* Add delay to each menu item */
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  padding-top: 1em;
}
.menu__list {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 3em 0 0 0;
  background: #cacaca;
  list-style-type: none;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: #FDFDFD;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding-bottom: 3rem;
}
.menu__brand--active {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu__item {
  margin-right: 1.5em;
  -moz-transform: translate3d(500px, 0, 0);
  -webkit-transform: translate3d(500px, 0, 0);
  transform: translate3d(500px, 0, 0);
  transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  color: #333;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #DDD;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

/* Responsive tablet view */
@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 85vh;
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .menu__brand {
    height: 15vh;
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
/* Set up logo layout */
.logo {
  width: 200px;
  height: 200px;
  background: #1a1a1a;
  border-radius: 50%;
}

/* Reset headers and p text */
h1, h2, h3, p {
  margin: 0;
  font-weight: normal;
}

/* Set up height and layout for main portion */
main {
  height: 100vh;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  -webkit-justify-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;
}
main h1 > a {
  color: #333;
  text-decoration: none;
  font-weight: 300;
}
